.heading {
  font-size: 145px;
  line-height: 175px;
}

@media (max-width: 1700px) {
  .heading {
    font-size: 135px;
    line-height: 165px;
  }
}

@media (max-width: 1585px) {
  .heading {
    font-size: 125px;
    line-height: 155px;
  }
}

@media (max-width: 1470px) {
  .heading {
    font-size: 115px;
    line-height: 145px;
  }
}

@media (max-width: 1350px) {
  .heading {
    font-size: 105px;
    line-height: 135px;
  }
}

@media (max-width: 1235px) {
  .heading {
    font-size: 95px;
    line-height: 125px;
  }
}

@media (max-width: 1120px) {
  .heading {
    font-size: 85px;
    line-height: 115px;
  }
}

@media (max-width: 1000px) {
  .heading {
    font-size: 80px;
    line-height: 110px;
  }
}

@media (max-width: 940px) {
  .heading {
    font-size: 70px;
    line-height: 100px;
  }
}

@media (max-width: 830px) {
  .heading {
    font-size: 60px;
    line-height: 90px;
  }
}

@media (max-width: 800px) {
  .heading {
    font-size: 70px;
    line-height: 100px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 60px;
    line-height: 80px;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 50px;
    line-height: 70px;
  }
}

@media (max-width: 410px) {
  .heading {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 340px) {
  .heading {
    font-size: 35px;
    line-height: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  color: #f0f0f0;
  overflow-x: hidden;
}

.scrollable-div {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.img-bg {
  background-image: url("../../assest/image/motive.jpg");
  background-size: cover;
  background-attachment: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 1s;
}

.brand-color {
  color: #ee0c32;
}

a {
  color: inherit;
  text-decoration: none;
}

.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  background-color: #f0f0f0;
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
}

.cursor-black {
  background-color: #111517;
}

.cursor-puls:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid #f0f0f0;
  opacity: 0.8;
  animation-name: puls;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cursor-black.cursor-puls:after {
  border: 3px solid #111517;
}

@keyframes puls {
  0% {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  100% {
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }
}

.cursor-click:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ee0c32;
  opacity: 0.5;
  animation-name: click;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes click {
  0% {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  100% {
    top: -35px;
    bottom: -35px;
    left: -35px;
    right: -35px;
  }
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 2);
  z-index: 10000000;
  pointer-events: none;
}

.loader .load-line {
  opacity: 1;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.loader .load-line:nth-child(2) {
  justify-self: flex-end;
}

.loader .open {
  opacity: 0;
}

nav {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 25px;
  z-index: 100;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 2.5vw;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  height: 50px;
  display: flex;
  align-items: center;
}

nav ul li img {
  height: 100%;
}

nav ul .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  position: relative;
  transform: translateX(-10px);
}

nav ul .menu .line-top {
  transform: translateX(-10px);
  height: 3px;
  width: 40px;
  background-color: #f0f0f0;
  transition: 0.5s;
}

nav ul .menu .line-bottom {
  transform: translateX(10px);
  transition: 0.5s;
  height: 3px;
  width: 40px;
  background-color: #f0f0f0;
}

nav ul .menu:hover .line-top,
nav ul .menu:hover .line-bottom {
  opacity: 1 !important;
}

.open .line-top,
.open .line-bottom {
  transform: translateX(0px) !important;
}

nav.black .menu .line-top,
nav.black .menu .line-bottom {
  background-color: #111517;
}

.nav {
  position: fixed;
  z-index: 2000;
  color: #f0f0f0;
  background-color: #111517;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: 1s;
}

.nav .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 150px;
  font-weight: bold;
}

@media (max-width: 1500px) {
  .nav .nav-list {
    font-size: 125px;
  }
}

@media (max-width: 1250px) {
  .nav .nav-list {
    font-size: 85px;
  }
}

@media (max-width: 800px) {
  .nav .nav-list {
    font-size: 65px;
  }
}

@media (max-width: 400px) {
  .nav .nav-list {
    font-size: 45px;
  }
}

.nav .nav-list li {
  position: relative;
  width: max-content;
}

.nav .nav-list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 4px;
  border-radius: 4px;
  margin-top: -2px;
  background: #ee0c32;
  transform: scale(0);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  z-index: 1;
}

.nav .back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22.5vw;
  z-index: -1;
  opacity: 0.2;
  font-weight: bold;
}

.mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #f0f0f0;
  top: 0;
  height: 49%;
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}

.mask span {
  display: block;
}

.mask + .mask {
  top: 48.9%;
  height: 51.1%;
}

.mask + .mask span {
  transform: translateY(-49%);
}

.nav .nav-item:hover,
.nav .nav-item:active {
  color: transparent;
  opacity: 0.6;
}

.nav .nav-item:hover .mask,
.nav .nav-item:active .mask {
  color: #f0f0f0;
  transform: skewX(12deg) translateX(5px);
}

.nav .nav-item:hover .mask + .mask,
.nav .nav-item:active .mask + .mask {
  transform: skewX(12deg) translateX(-5px);
}

.nav .nav-item:hover::before,
.nav .nav-item:active::before {
  transform: scale(1);
}

.nav-open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main-screen,
.box {
  display: flex;
  align-items: center;
  position: sticky;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #111517;
}

.main-screen .content,
.box .content {
  width: 80vw;
  margin: auto;
}

@media (max-width: 991px) {
  .main-screen .content,
  .box .content {
    width: 100vw;
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .main-screen .content,
  .box .content {
    width: 100vw;
    padding: 0 25px;
  }
}

.box-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300vh;
}

.box {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  background-color: #f0f0f0;
  height: 100vh;
  z-index: 1001;
  overflow: hidden;
}

.box .content {
  color: #111517;
}

.about-wrapper .about-short {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  color: #f0f0f0;
  font-weight: 500;
}

.about-wrapper .about-short p {
  margin: auto;
  width: 80vw;
  font-size: 40px;
}

@media (max-width: 991px) {
  .about-wrapper .about-short p {
    width: 100vw;
    padding: 0 25px;
  }
}

@media (max-width: 800px) {
  .about-wrapper .about-short p {
    box-sizing: border-box;
    width: 100vw;
    padding: 2.5vw;
    text-align: center;
  }
}

@media (max-width: 1580px) {
  .about-wrapper .about-short p {
    font-size: 35px;
  }
}

@media (max-width: 1380px) {
  .about-wrapper .about-short p {
    font-size: 30px;
  }
}

@media (max-width: 1180px) {
  .about-wrapper .about-short p {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .about-wrapper .about-short p {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .about-wrapper .about-short p {
    font-size: 18px;
  }
}

@media (max-width: 330px) {
  .about-wrapper .about-short p {
    font-size: 16px;
  }
}

.about-wrapper .about-short p .brand-color:hover {
  opacity: 0.7;
}

.extended-white {
  height: 50vh;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.extended-white p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #111517;
}

.project {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: #111517;
  color: #f0f0f0;
  clip-path: circle(0% at 50% 50%);
  z-index: 1000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .project-title {
  font-weight: bold;
  right: -100%;
  position: relative;
  text-align: center;
}

.work {
  background-color: #111517;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  padding: 0;
  padding-bottom: 30vh;
}

.work .project-img {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
  opacity: 0.2;
  background-position: center;
  background-size: cover;
}

.work .project-box {
  height: max-content;
}

.work .project-box:hover img {
  opacity: 0.5;
}

.work .project-work {
  box-sizing: border-box;
  width: 100vw;
  padding: 2.5vw;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
}

@media (max-width: 1400px) {
  .work .project-work {
    grid-column-gap: 50px;
  }
}

@media (max-width: 1300px) {
  .work .project-work {
    grid-column-gap: 35px;
  }
}

@media (max-width: 992px) {
  .work .project-work {
    grid-template-columns: 1fr;
  }
}

.work .project-work .marg-top {
  margin-top: 100px;
}

@media (max-width: 992px) {
  .work .project-work .marg-top {
    margin-top: 0px;
  }
}

.work .project-work .work-name {
  width: 100%;
  border-radius: 5px;
}

.work .project-work .name {
  margin-top: 0px;
  font-weight: bold;
  width: max-content;
}

@media (max-width: 1200px) {
  .work .project-work .name {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.work .project-work .name .type {
  opacity: 0.8;
  font-weight: 400;
  font-size: 14px;
}

.no-img {
  display: none;
}

.footer-wrapper {
  background-color: #111517;
  height: 110vh;
}

.footer-wrapper footer {
  height: 100vh;
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  opacity: 0;
  transition: 1s;
}

.footer-wrapper footer .top {
  width: 80vw;
  font-size: 80px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #ee0c32 20%, #f0f0f0 50%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #f0f0f0;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@media (max-width: 1700px) {
  .footer-wrapper footer .top {
    font-size: 70px;
    line-height: 90px;
  }
}

@media (max-width: 1500px) {
  .footer-wrapper footer .top {
    font-size: 60px;
    line-height: 80px;
  }
}

@media (max-width: 840px) {
  .footer-wrapper footer .top {
    font-size: 50px;
    line-height: 70px;
  }
}

@media (max-width: 700px) {
  .footer-wrapper footer .top {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 570px) {
  .footer-wrapper footer .top {
    width: 100vw;
    padding: 0 25px;
  }
}

@media (max-width: 500px) {
  .footer-wrapper footer .top {
    font-size: 35px;
    line-height: 55px;
  }
}

@media (max-width: 440px) {
  .footer-wrapper footer .top {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 390px) {
  .footer-wrapper footer .top {
    font-size: 25px;
    line-height: 40px;
  }
}

@media (max-width: 330px) {
  .footer-wrapper footer .top {
    font-size: 22px;
    line-height: 30px;
  }
}

.footer-wrapper footer .bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: absolute;
  bottom: 15px;
  left: 50px;
  right: 50px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .footer-wrapper footer .bottom {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .footer-wrapper footer .bottom {
    left: 25px;
    right: 25px;
  }
}

.footer-wrapper footer .bottom .social {
  text-align: center;
}

.footer-wrapper footer .bottom .social .margin-left {
  margin-left: 50px;
}

@media (max-width: 830px) {
  .footer-wrapper footer .bottom .social {
    text-align: center;
  }
  .footer-wrapper footer .bottom .social .margin-left {
    margin-left: 25px;
  }
}

.footer-wrapper footer .bottom .email {
  text-align: right;
}

@media (max-width: 700px) {
  .footer-wrapper footer .bottom {
    display: none;
  }
}

.footer-wrapper footer .bottom .cursor-hover:hover {
  opacity: 0.7;
}

.footer-wrapper footer .bottom-mob {
  display: none;
}

@media (max-width: 700px) {
  .footer-wrapper footer .bottom-mob {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 25px;
    right: 25px;
    font-size: 14px;
  }
  .footer-wrapper footer .bottom-mob .email {
    margin: 5px 0;
  }
  .footer-wrapper footer .bottom-mob .margin-left {
    margin-left: 15px;
  }
}

@media (max-width: 700px) and (max-width: 350px) {
  .footer-wrapper footer .bottom-mob {
    left: 15px;
    right: 15px;
  }
  .footer-wrapper footer .bottom-mob .margin-left {
    margin-left: 10px;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#project-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f0f0f0;
  background-color: rgba(17, 21, 23, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

#project-overlay .project-preview-box {
  background-color: #111517;
  border: 1px solid #f0f0f0;
  max-width: 600px;
}

@media (max-width: 630px) {
  #project-overlay .project-preview-box {
    margin-left: 2.5vw;
    margin-right: 2.2vw;
  }
}

#project-overlay .project-preview-box .name {
  font-size: 24px;
  background-color: #ee0c32;
  padding: 15px;
  position: relative;
}

#project-overlay .project-preview-box .name .close {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
}

#project-overlay .project-preview-box .body {
  padding: 15px;
  font-size: 16px;
}

@media (max-width: 400px) {
  #project-overlay .project-preview-box .body {
    padding: 10px;
  }
}

#project-overlay .project-preview-box .body .left {
  margin: 15px 0;
}

@media (max-width: 600px) and (max-height: 600px) {
  #project-overlay .project-preview-box .body .left {
    overflow-y: scroll;
    height: 150px;
  }
}

#project-overlay .project-preview-box .body .right {
  width: max-content;
}

#project-overlay .project-preview-box .body .right .opacity {
  opacity: 0.7;
}

#project-overlay .project-preview-box .body .button {
  display: flex;
}

#project-overlay .project-preview-box .body .button .primary {
  background-color: #ee0c32;
  border: 2px solid #ee0c32;
  padding: 5px 15px;
}

#project-overlay .project-preview-box .body .button .secondary {
  margin-left: 15px;
  border: 2px solid #ee0c32;
  padding: 5px 15px;
}
